<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Neatlify Desktop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>11EBC23C2F2388AA00B62102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11EBC24D2F2388AB00B62102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>11EBC2572F2388AB00B62102</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
